---
import Layout from "../layouts/Layout.astro";
import Populares from "../components/News.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<Populares />
		</section>
		<section class="mb-48">
			<Populares />
		</section>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
	}
</style>
