---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Populares from "../components/Populares.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<h1>Hooola</h1>
		</section>

		<section>
			<Populares />
		</section>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
	}
</style>
