---
import Layout from "../layouts/Layout.astro";
import News from "../components/News.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<News />
		</section>
	</main>
</Layout>

<style>
	main {
		font-size: 20px;
	}
</style>
