---

---

<header class="mt-6">
    <nav class="flex opacity-90 items-center justify-between bg-blend-overlay">
        <div class="ml-24 flex flex-1 justify-center">
            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >Home</a
            >

            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >Movies</a
            >

            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >TvShows</a
            >
        </div>

        <div class="flex justify-end align-end">
            <a
                class="text-lg font-semibold transition mr-16 py-2 rounded-lg hover:scale-110"
                >Profile</a
            >
        </div>
    </nav>
</header>
