---

---

<header class="mt-6">
    <nav class="flex opacity-90 items-center justify-between bg-blend-overlay">
        
        <div class="flex justify-start ml-16">
            <img
                src="/wild_robot.jpg"
                class="rounded-full size-16 transition hover:scale-110"
            />
        </div>
        
        <div class="flex justify-center">
            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >Home</a
            >

            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >Movies</a
            >

            <a
                class="text-lg font-semibold transition px-10 py-2 rounded-lg hover:scale-110"
                >TvShows</a
            >
        </div>

        <div class="flex justify-end align-end">
            <a
                class="text-lg font-semibold transition mr-16 py-2 rounded-lg hover:scale-110"
                >Profile</a
            >
        </div>
    </nav>
</header>
