---

const response = await fetch('http://localhost:8080/movie', {
    method: "GET",
    headers: {
        "Content-Type": "application/json"
    }
})

const data = await response.json()

const pelis = data.slice(5)

---

<div class="container">

    {pelis.map((peli: any) => (
        <h1 class="">{peli.title}</h1>
    ))}

</div>