<footer class="flex flex-col bottom-0 items-center mt-72 w-full text-gray-400 mb-8 justify-center">
    <div class="flex flex-row items-start justify-start gap-6">
        <span class="ml-12">
            2024 Ningún derecho reservado! :)
        </span>

        <div class="flex items-end justify-end mr-12">
            <span>Creado por Jorge Rodríguez</span>
        </div>
    </div>

    <nav class="flex items-center justify-center gap-6">
        <a href="/" class="p-4 transition hover:scale-110">Inicio</a>
        <a href="#" class="p-4 transition hover:scale-110">Contacto</a>
        <a href="#" class="p-4 transition hover:scale-110">About</a>
    </nav>
</footer>
